.navlink {
    color: red !important;
    margin-right: 5px;
}

#test>a {
    font-weight: bold !important;
}

.navlink {
    background-color: red;
    color: white !important;
    border-radius: 10%;
}